<body class="home-page" id="aboutbody">
  <div class="one one-head u-margin-top-big">
    <h1 class="one-head head-font" style="font-size: 56px;">Faculty Advisor</h1>
  </div>
  <div class="member">
    <div class="box">
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("faculty.jpg")%>
        </div>
        <div class="details">
          <h2>Dr. Dheerandra Singh<br><span>Assistant Professor</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="one one-head u-margin-top-big">
    <h1 class="one-head head-font" style="font-size: 56px;">Meet Our Team (SUPRA SAEINDIA 2023)</h1>
  </div>
  <div class="member">
    <div class="box">
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("abhay.png")%>
        </div>
        <div class="details">
          <h2>Abhay Gond<br><span>Vice Captain</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("divyanshu.png")%>
        </div>
        <div class="details">
          <h2>Divyanshu Rai<br><span>Team Captain</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("arpit.png")%>
        </div>
        <div class="details">
          <h2>Arpit Tripathi<br><span>Design Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("sachin.png")%>
        </div>
        <div class="details">
          <h2>Sachin Singh<br><span>Managerial Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("manisha.png")%>
        </div>
        <div class="details">
          <h2>Manisha Rathour<br><span>Managerial Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("prajjwal.png")%>
        </div>
        <div class="details">
          <h2>Prajjwal Singh<br><span>Treasurer Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("sarthak.png")%>
        </div>
        <div class="details">
          <h2>Sarthak Kushwaha<br><span>Treasurer Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("piyush.png")%>
        </div>
        <div class="details">
          <h2>Piyush Singh<br><span>Suspension Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("anjali.png")%>
        </div>
        <div class="details">
          <h2>Kumari Anjali<br><span>Suspension Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("harsh.png")%>
        </div>
        <div class="details">
          <h2>Harsh Raj Kamal<br><span>Power Transmission Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("vishal-bharati.png")%>
        </div>
        <div class="details">
          <h2>Vishal Kumar Bharati<br><span>Steering Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("tanu.png")%>
        </div>
        <div class="details">
          <h2>Tanu Suryanshi<br><span>Steering Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("vishal-singh.png")%>
        </div>
        <div class="details">
          <h2>Vishal Singh<br><span>Electrical Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("harendra.png")%>
        </div>
        <div class="details">
          <h2>Harendra<br><span>Electrical Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("udit.png")%>
        </div>
        <div class="details">
          <h2>Udit Srivastava<br><span>Braking Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("mohit.png")%>
        </div>
        <div class="details">
          <h2>Mohit Kumar<br><span>Braking Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("suraj.png")%>
        </div>
        <div class="details">
          <h2>Suraj Kumar<br><span>Technical Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("amin.png")%>
        </div>
        <div class="details">
          <h2>Mohd. Amin<br><span>Technical Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("kiran.png")%>
        </div>
        <div class="details">
          <h2>Kiran Chauhan<br><span>Statics Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("neha.png")%>
        </div>
        <div class="details">
          <h2>Neha Gupta<br><span>Statics Co-Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("prasubh.png")%>
        </div>
        <div class="details">
          <h2>Prasubh Singh<br><span>Disco Head</span></h2>
        </div>
      </div>       
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("kavita.png")%>
        </div>
        <div class="details">
          <h2>Kavita Chaurasia<br><span>Disco Co-Head</span></h2>
        </div>
      </div>              
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("prabhat.png")%>
        </div>
        <div class="details">
          <h2>Prabhat Anand<br><span>Advisor</span></h2>
        </div>
      </div>              
    </div>
  </div>
  <div class="one one-head u-margin-top-big">
    <h1 class="one-head head-font" style="font-size: 56px;">Mentors (SUPRA SAEINDIA 2022)</h1>
  </div>
  <div class="member">
    <div class="box">
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("abhishek.jpg")%>
        </div>
        <div class="details">
          <h2>Abhishek Mishra<br><span>Power Transmission</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("myself.jpg")%>
        </div>
        <div class="details">
          <h2>Ankit Shukla<br><span>Suspension</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("ashwani.jpg")%>
        </div>
        <div class="details">
          <h2>Ashwani Singh<br><span>Steering</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("rohit.png")%>
        </div>
        <div class="details">
          <h2>Rohit Kr. Singh<br><span>Steering</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("antima.jpg")%>
        </div>
        <div class="details">
          <h2>Antima Tiwari<br><span>Braking</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("anoop.jpg")%>
        </div>
        <div class="details">
          <h2>Anoop Singh<br><span>Suspension</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("diwakar.png")%>
        </div>
        <div class="details">
          <h2>Diwakar Maurya<br><span>Aerodynamics</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("yatharth.png")%>
        </div>
        <div class="details">
          <h2>Yatharth<br><span>Calculations</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("intesaab.png")%>
        </div>
        <div class="details">
          <h2>Intesaab Alam<br><span>Designing</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("ankit.jpg")%>
        </div>
        <div class="details">
          <h2>Ankit Baranwal<br><span>Braking</span></h2>
        </div>
      </div>
      <div class="card u-margin-bottom-medium" id="teamcard">
        <div class="imgBx">
          <%= image_tag("paswan.png")%>
        </div>
        <div class="details">
          <h2>Rohit Paswan<br><span>Power Transmission</span></h2>
        </div>
      </div>
    </div>
  </div>  
</body>